{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
          My name is Bruce (Jitian Liang) and I'm currently a Master of IT (Software Engineering) student at UTS.
        </p>
        <p>
          I finished my Civil Engineering bachelor degree and worked in construction industry in Sydney for 2 years, and
          in 2022 I decided to transfer to Software Engineering after careful consideration. So far I have been enjoying
          this journey very much by learning and coding new stuffs every day, although sometimes it is really
          frustrating to fix bugs or trying to improve my code :)
        </p>
        <p>
          Other than coding, I'm also keen on sports, especially golf⛳ and basketball🏀. If you are around Sydney or you
          share some same interests with me, feel free to contact me via Twitter/ Facebook/ Email through the Contact page.
        </p>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}